@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap');
* {
    text-align: justify;
}
/*CABEÇALHO DA PAGINA*/
body {
    background-image: linear-gradient(to left, black, green);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;

}
p.redes {
    margin-bottom: -10px;
}
div.icones {
    display: flex;


}
header.cabeçalho {
    background-color: rgb(55, 61, 61);
    color: white;

    margin-top: 15px;
    border-radius: 25px;
    border-left: 10px solid #00a300;
    border-right: 10px solid #00a300;
    padding: 10px;
}
h1 {
    text-shadow: 4px 4px 4px rgba(0, 128, 0, 0.364);
    font-size: 2em;
    padding-left: 100px;
}

a.links {
    background-color: rgb(55, 61, 61);
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    display: inline-flex;
    padding-left: 15px;
}
a.links:hover {
    color: green;
}
nav.guias-{
    text-align: right;
    margin-right: 100px;
    margin-top: -60px;
    margin-bottom: 50px;
}
/* CORPO DA PÁGINA */
section {
    background-color: rgb(55, 61, 61);
    color: white;
    border-radius: 25px;
    border-left: 4px solid #00a300;
    border-right: 4px solid #00a300;
    width: 100px;
    margin-left: 20px;
}
.selecion-p {
    padding: 1px;
    padding-left: 7px;
}
/*MAIN*/ 
main {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 15px;
    width: 1200px;
    margin: auto;
}
h2 {
    color: rgba(1, 63, 1, 0.796);
}
.citação {
    color: white;
    background-color: rgba(63, 66, 70, 0.871);
    width: 700px;
    border-radius: 15px;
    padding: 10px;
}
.paragrafo-final {
    text-indent: 30px;
}
a {
    color: rgb(34, 43, 167);
    text-decoration: none;
}
a:active {
    color: purple;
}

ul {
    list-style: none;
    display: flex;
}
li {
    background-color: #314E59;
    color: white;
    font-size: small;
    border-radius: 10px;
    padding: 10px;
    width: 190px;
    height: 300px;
    font-weight: bold;
    margin-left: 30px;
}
li.neymar:hover {
    background-image: url(imagens/neymar.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
li.messi:hover {
    background-image: url(imagens/messi.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
li.cristiano:hover {
    background-image: url(imagens/cristiano\ \ ronaldo.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
aside p {
    font-size: x-small;
    text-align: right;
}
footer {
    background-color: rgb(33, 36, 36);
    color: white;
    width: 1200px;
    padding: 10px;
    margin: auto;
    height: 200px;
}
p.descricao {
    padding-top: 100px;
    font-size: small;
    text-align: center;
}

p.imagem {
    text-align: center;
}