body {
    background-color: #044040;
    color: white;
    font-family: sans-serif;
    
}
h1,h2 {
    font-family: arial;
    padding-left: 3%;
    color: white;
}
h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    text-align: justify;
    font-size: 90%;
    padding-left: 2%;
    
    
}
p.posicao-img {
    text-align: right;
    margin-top: -4%;
    background-color: #D92525;
    border: 3px solid #591C21;
    padding: 2px;
}
p.posicao-icones {
    letter-spacing: 3ch;
    padding-left: 1%;
}
img.capa {
    padding-left: 7%;
}
h2.borda-fim-pag {
    text-decoration: underline #FECB00;
    text-transform: uppercase;

    font-family: arial ;
    text-align: center;
}