@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Roboto&display=swap');
*{ 
    font-size: 16px;
}
/* navegação */ 
nav {
    margin-top: -100px;
    text-align: right;
    margin-bottom: 50px;
    margin-right: 10px;
}
/* Fontes e seus tamnhos e cores */
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}
h1 {
    color: white;
    text-shadow: 3px 3px 3px #610287;
    text-align: center;
    margin-top: 50px;
    font-size: 3em;
}
h2 {
    font-size: 1.3em;
}
/* corpo da página */
body {
    background-color: rgba(17, 0, 124, 0.761);
}
main {
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    width: 1080px;

}
/* estilos do ARTICLE */
.linguagens {
    color: white;
    padding: 10px;
}
.cores-linguagem {
    background-color: #2b292cec;
    padding: 30px;
}
div.cores-linguagem > h3 {
    color: #ad00f2;
}
div.cores-linguagem > h2 {
    color: white;
    text-shadow: 3px 3px 3px #ad00f2;
    margin-bottom: 40px;
    text-align: center;
} 
div.cores-linguagem > p {
    margin-right: 150px;
}
/*efeito */
.div2 {
    background-color: #2b292cec;
    padding: 30px;
}
.ul-efeito > p {
     display: none;
}
.ul-efeito:hover > p {
    background-color: #282529ec;
    border-left: 4px solid purple;
    color: white;
    display: block;
    padding: 10px;
    margin-right: 300px;
}
.h2-posicao {
    color: #ad00f2;
    margin-top: -20px;
}
/* Rodapé */ 
.article-sobre {
    background-color: white;
    margin: 10px;
    margin-top: -30px;
}
.fim {
    padding: 30px;
}
.fim-p {
    padding-top: 30px;
    font-size: small;
}
.icones2 {
    text-align: right
}
/* IMAGEMS */
.imagem-javascript {
    margin-top: -80px;
    float: right;
}

p.center {
    margin-left: 90px;
}
